
 @media screen and (min-width: 330px) {
    .iconos-redes a {
        margin-left: 10px;
        margin-right: 10px;
}
} 

@media screen and (min-width: 338px) {
    .container-boton-spotify {

        left: 14%;
}
}

@media screen and (min-width: 360px) {
    .container-boton-spotify {
        
        left: 15%;
    }
    .caja-evento {
        margin-left: 8.5%;
        margin-right: 8.5%;
        }
}
@media screen and (min-width: 400px) {
    .container-boton-spotify {

        left: 19%;
}
}
@media screen and (min-width: 442px) {
    .iconos-redes a{

        margin-left: 20px;
        margin-right: 20px;
    }
    
    .container-boton-spotify {

        left: 20%;
    }
}
@media screen and (min-width: 460px) {
    .container-boton-spotify {
        top: 77%;
        left: 22%;
    }
    .logo-fiesta-de-otro-planeta {
        content: url('../multimedia/Logos/fiesta\ de\ otro\ planeta\ \(3\)\ 270.png');
    }
    .box {
 
        margin: 0 -23px;
     }
}
@media screen and (min-width: 500px) {
    .container-boton-spotify {

        left: 25%;
    }
}
@media screen and (min-width: 630px) {
    .container-boton-spotify {

        left: 30%;
    }
    .caja-evento {
        margin-left: 10.5%;
        margin-right: 10.5%;
        }
}
@media screen and (min-width: 718px) {
    .container-boton-spotify {

        left: 33%;
    }
}

 @media screen and (min-width: 768px) {

    .caja-evento {
        margin-left: 0;
        margin-right: 0;
        }
} 



@media screen and (min-width: 850px) {

    .cards__container {
        height: 21rem;
    }

    .box {
        width: 569.3023071289062px;
        height: 322.1052551269531px;
    }
    .foto-carrusel-1 {
        content: url('../multimedia/img_carrusel/img_01.jpg');
    }
    .foto-carrusel-2 {
        content: url('../multimedia/img_carrusel/img_02.jpg');
    }
    .foto-carrusel-3 {
        content: url('../multimedia/img_carrusel/img_03.jpg');
    }
    .foto-carrusel-4 {
        content: url('../multimedia/img_carrusel/img_04.jpg');
    }
    .foto-carrusel-5 {
        content: url('../multimedia/img_carrusel/img_05.jpg');
    }
    .foto-carrusel-6 {
        content: url('../multimedia/img_carrusel/img_06.jpg');
    }
    .foto-carrusel-7 {
        content: url('../multimedia/img_carrusel/img_07.jpg');
    }
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner1152x285.png');
    }
    .container-boton-spotify {
    top: 64%;
    bottom: 20%;
    left: 25%;
    }
    .logo-fiesta-de-otro-planeta {
    content: url('../multimedia/Logos/fiesta\ de\ otro\ planeta\ \(3\)\ 490.png');
    }
    .logo-xl-grande-png {
        content: url('../multimedia/banner-y-txt/logo_medio700x.png');
    }
    .logo-footer {
        content: url('../multimedia/Logos/XL_logo_alien140x85.png');

    }
}

@media screen and (min-width: 1200px) {
    .png-proximos-eventos {
        padding-right: 239px;
        padding-left: 239px;
      }
    }

@media screen and (min-width: 1300px) {   

    .icono-footer {
        position: relative;
        }
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -487px;
    }
}

@media screen and (min-width: 1395px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -517px;
    }
}

@media screen and (min-width: 1511px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -563px;
    }
   
        .png-proximos-eventos {
            padding-right: 320px;
            padding-left: 320px;
          }
 
}





@media screen and (min-width: 1520px) {
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner1871.png');
    }
}
@media screen and (min-width: 1580px) {
    .container-boton-spotify {
        left: 24%;
    }
    .box {
        margin: 0 -20px;
    }
}
@media screen and (min-width: 1623px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -603px;
    }
}
@media screen and (min-width: 1650px) {
    .container-boton-spotify {
        left: 25%;
        }
}
@media screen and (min-width: 1710px) {
    .container-boton-spotify {
        left: 22%;
        }
        .box {
            margin: 0 -10px;
        }

            .png-proximos-eventos {
                padding-right: 357px;
                padding-left: 357px;
              }

}
@media screen and (min-width: 1726px) {
    .container-boton-spotify {
        left: 25%;
        }
        .seccion-carrusel {
            margin-right: 20%;
            margin-left: 20%;
        }
        .seccion-spotify {
            margin-right: 20%;
            margin-left: 20%;
        }
}

@media screen and (min-width: 1807px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -675px;
    }
    .box {
        margin: 0 0px;
    }
}
@media screen and (min-width: 2500px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -951px;
    }
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner.png');
    }
}

@media screen and (min-width: 2050px) {
    .box:nth-child(1) {
        transform: scale(0.9);
    
    }
    
    .box:nth-child(2) {
        transform: scale(1.1);
    
    }
    
    .box:nth-child(3) {
        transform: scale(0.9);
    
    }
    
     .box:nth-child(4) {
        transform: scale(0.9);  
     
    }
    
    .box:nth-child(5) {
        transform: scale(0.9);
    
    }
    
    .box:nth-child(6) {
        transform: scale(0.9);
    
    }
    
    .box:nth-child(7) {
        transform: scale(0.9);
    
    }

    .box {
        margin: 0 45px;
    }
}

@media screen and (min-width: 2050px) {
    .seccion-carrusel {
    margin-right: 28%;
    margin-left: 28%;
}
.seccion-spotify {
    margin-right: 28%;
    margin-left: 28%;
}
}

@media screen and (min-width: 2050px) {
.caja-eventos {
    background: none;
}
}






