
@media screen and (min-width: 350px) {
    .box {
        width: 340px;
        height: 220px;
    }
}

@media screen and (min-width: 360px) {
    .container-boton-spotify {
        
        left: 15%;
    }
}
@media screen and (min-width: 367px) {
    .box {
        width: 335px;
        height: 200px;
    }
}
@media screen and (min-width: 442px) {
    .iconos-redes a{

        margin-left: 20px;
        margin-right: 20px;
    }
    
    .container-boton-spotify {

        left: 20%;
    }
}
@media screen and (min-width: 460px) {
    .container-boton-spotify {
        top: 77%;
        left: 22%;
    }
    .logo-fiesta-de-otro-planeta {
        content: url('../multimedia/Logos/fiesta\ de\ otro\ planeta\ \(3\)\ 270.png');
    }
}
@media screen and (min-width: 500px) {
    .container-boton-spotify {

        left: 25%;
    }
}
@media screen and (min-width: 630px) {
    .container-boton-spotify {

        left: 30%;
    }
}
@media screen and (min-width: 718px) {
    .container-boton-spotify {

        left: 33%;
    }
}

@media screen and (min-width: 850px) {
    .box {
        width: 569.3023071289062px;
        height: 322.1052551269531px;
    }
    .foto-carrusel-1 {
        content: url('../multimedia/img_carrusel/img_01.jpg');
    }
    .foto-carrusel-2 {
        content: url('../multimedia/img_carrusel/img_02.jpg');
    }
    .foto-carrusel-3 {
        content: url('../multimedia/img_carrusel/img_03.jpg');
    }
    .foto-carrusel-4 {
        content: url('../multimedia/img_carrusel/img_04.jpg');
    }
    .foto-carrusel-5 {
        content: url('../multimedia/img_carrusel/img_05.jpg');
    }
    .foto-carrusel-6 {
        content: url('../multimedia/img_carrusel/img_06.jpg');
    }
    .foto-carrusel-7 {
        content: url('../multimedia/img_carrusel/img_07.jpg');
    }
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner1152x285.png');
    }
    .container-boton-spotify {
    top: 64%;
    bottom: 20%;
    left: 25%;
    }
    .logo-fiesta-de-otro-planeta {
    content: url('../multimedia/Logos/fiesta\ de\ otro\ planeta\ \(3\)\ 490.png');
    }
    .logo-xl-grande-png {
        content: url('../multimedia/banner-y-txt/logo_medio700x.png');
    }
    .logo-footer {
        content: url('../multimedia/Logos/XL_logo_alien140x85.png');

    }

}

@media screen and (min-width: 1300px) {   

    .icono-footer {
        position: relative;
        }
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -487px;
    }
}

@media screen and (min-width: 1395px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -517px;
    }
}

@media screen and (min-width: 1511px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -563px;
    }
}





@media screen and (min-width: 1520px) {
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner1871.png');
    }
}
@media screen and (min-width: 1580px) {
    .container-boton-spotify {
        left: 24%;
    }
}
@media screen and (min-width: 1623px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -603px;
    }
}
@media screen and (min-width: 1650px) {
    .container-boton-spotify {
        left: 25%;
        }
}
@media screen and (min-width: 1710px) {
    .container-boton-spotify {
        left: 22%;
        }
}
@media screen and (min-width: 1726px) {
    .container-boton-spotify {
        left: 25%;
        }
}

@media screen and (min-width: 1807px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -675px;
    }
}
@media screen and (min-width: 2500px) {
    .logo-footer {
        position: absolute;
        top: -24px;
        bottom: 0px;
        right: 0px;
        left: -951px;
    }
    .spotify-png {
        content: url('../multimedia/banner-y-txt/banner.png');
    }
    }






