/* @media screen and (max-width: 415px) {
    .logo-xl-grande {
        margin-left: 248px;
    }
    .seccion-carrusel {
        margin-left: -34px;
        margin-right: -261px;
        padding-left: -31px;
        padding-right: 28px;
    }
    .box {
        margin: 0 -10px;
    }
    .spotify-png {
        content: url('../multimedia/banner y txt-20230604T164701Z-001/banner\ y\ txt/banner550x136.png');
        margin-left: 235px;
     }
    .boton-spotify {
        margin-top: -128px;
        margin-left: 179px;

    }


     CAMBIOS EN EL FOOTER
     .container__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .iconos-redes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .iconos-redes a {
    margin: 5px;
  }
  
} 


@media screen and (max-width: 729x) {
    .spotify-png {
        content: url('../multimedia/banner y txt-20230604T164701Z-001/banner\ y\ txt/banner550x136.png');
        margin-left: 14px;
     }
     .icono-footer {
 
        right: 383px;

}
}



@media screen and (max-width: 841px) {
    .spotify-png {
        content: url('../multimedia/banner y txt-20230604T164701Z-001/banner\ y\ txt/banner650x161.png');
  
     }
     .icono-footer {
 
        right: 230px;

}
.cards__container {
    padding-left: 0px;
}
}

@media screen and (max-width: 983px) {
    .icono-footer {
 
        right: 207px;

}
}

@media screen and (max-width: 1160px) {
    .spotify-png {
        content: url('../multimedia/banner y txt-20230604T164701Z-001/banner\ y\ txt/banner750x186.png');
  

}
}  */