.recuadro-spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 20px;
}

/* .boton-spotify {
    position: absolute;
    margin-top: -170px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 358px;
    background: #7030CF;

    font-family: 'Bebas Neue', sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 15px;
} */

.boton-spotify {
    background: #7030CF;
    position: absolute;
    margin-top: -170px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 358px;

    font-family: 'Bebas Neue', sans-serif;
     margin-bottom: 48px;
    font-style: normal;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 11px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.205em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 10px 9px 16px rgba(0, 0, 0, 0.25);
    border-radius: 60px;



  }