.footer {
    background: linear-gradient(180deg, rgba(15, 11, 60, 0.23) 0%, rgba(16, 15, 31, 0.88) 86.05%);
}


.container__footer {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
max-width: 1337px;
}

.nota-footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    z-index: 100;
}

.iconos-redes a{
    margin-left: 20px;
    margin-right: 20px;
}

.icono-footer {    
    position: absolute;    
    right: 342px;
    bottom: -63px;
}

