.logo-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.menu {
  background-color: #0D0D0D;
}

.navbar-nav .nav-link.active {
  color: #FFFFFF;
  font-family: Bebas Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: left , 'Jura', sans-serif;
}

.navbar-nav a {
  margin-right: 10px;
  margin-left: 10px;
}

#menu-hamburguesa {
  color: #FFFFFF !important;
}

.video-container {
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}



.estilo-body {
    background-image: url(../multimedia/fondos/bg_1920.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;     
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    z-index: 150;
}

.video-container {
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }



    .caja-evento {
        margin-left: 6.5%;
        margin-right: 6.5%;
        }

