.estilo-body {
    background-image: url(../multimedia/fondos/bg_1920.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 

    
}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    text-align: center;
}